<div class="ui two column centered grid">
  <div class="column">
    <div class="ui raised container segment">
      <%= form_for @user,html:{multipart:true, class: 'ui form'} do |f| %>
      <div class="required field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="required field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="required field">
        <%= f.label "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="required field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :avatar %>

        <div id="uploader" class="placeholder">
            <div id="tip">Drag and Drop Your Image Here to Crop</div>
            <img id="result" src="" />
            <div id="croppie">

            </div>
        </div>

        <%= hidden_field_tag :image %>
      </div>


      <button class="ui purple labeled icon button">
        <% if @current_user.present? %>
          Update Account
        <% else %>
          Create New Account
        <% end %>
        <i class="add icon"></i>
      </button>

      <% end %>
    </div>
  </div>
</div>
