
<div class=""></div>

<div class="ui container">
  <div class="ui horizontal segments">
    <div class="ui segment">
      <div class="ui items">
        <div class="item">
          <%= cl_image_tag(@user.avatar, :width=>100, :height=>100, :crop=>"crop", :gravity=>"face", :secure=>true, class: "ui image rounded") %>
          <div class="content">
            <p class="header"><%= @user.name %></p>
            <div class="meta">
              <p class="price"><%= @user.email %></p>
              <p class="price">Joined iKoka since <%= @user.created_at.strftime("%d %b %Y") %></p>
              <p class="price">Already sent <%= @user.messages.count %> messages!</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="ui segment">
      <div class="ui small horizontal statistics">
        <div class="statistic">
          <div class="value">
            <%= @user.messages.count %>
          </div>
          <div class="label">
            Messages sent
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            <%= @user.chatrooms.count %>
          </div>
          <div class="label">
            Chatrooms joined
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="ui header">
    <%= @user.name %>'s Chatrooms:</h4>
  </div>

  <div class="ui three special link cards">
    <div class="card">
      <div class="new-chatroom-action-card">
        <%= link_to new_chatroom_path  do %>
          <h3><i class="add icon"></i>New Chatroom</h3>
        <% end %>
      </div>
    </div>
    <% @user.chatrooms.each do |c| %>
    <div class="card">
      <div class="overlay-card-info">
        <h2> <%= c.topic %>  </h2>
      </div>
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <% if (@current_user.present?) and (c.users.include? @current_user)  %>
              <%= link_to "Enter", chatroom_path(c), class:"ui orange button" %>
              <% else %>
              <%= link_to "Join", chatroom_path(c), class:"ui green button" %>
              <% end %>
            </div>
          </div>
        </div>
        <%= image_tag c.cover  %>
      </div>
      <div class="extra content">
        <div>
          <i class="users icon"></i>
          <%= c.users.count %> users are having fun!
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
