<h1>My Account</h1>

<%= link_to cl_image_tag(@user.avatar, :width=>150, :height=>150, :crop=>"crop", :gravity=>"face", :secure=>true)%>

<h2> <%= @user.name %> </h2>
<h4> <%= @user.email %> </h4>

<% if @current_user == @user %>
<%= link_to 'Edit Profile', edit_user_path(@user), class: 'ui button' %>
<% end %>

<h4>Chatrooms:</h4>
<ul>
  <% @user.chatrooms.each do |c| %>
    <li> <%= link_to c.topic, chatroom_path(c) %></li>
  <% end %>
</ul>
