<div class="ui container">
  <h1>My Account</h1>

  <%= link_to cl_image_tag(@user.avatar, :width=>150, :height=>150, :crop=>"crop", :gravity=>"face", :secure=>true)%>

  <h2> <%= @user.name %> </h2>
  <h4> <%= @user.email %> </h4>

  <% if @current_user == @user %>
    <%= link_to 'Edit Profile', edit_user_path(@user), class: 'ui button' %>
    <%= link_to 'Create Chatroom', '#', class:"ui teal button", id:"new-chatroom" %>
  <% end %>

  <h4>Chatrooms:</h4>

  <div class="ui special cards">
    <div class="card">
      <div class="new-chatroom-action-card">
        <h3><i class="add icon"></i>New Chatroom</h3>
      </div>
    </div>
    <% @user.chatrooms.each do |c| %>
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <%= link_to "Enter", chatroom_path(c), class:"ui inverted button" %>
            </div>
          </div>
        </div>
        <div class="overlay-card-info">
          <h2> <%= c.topic %>  </h2>
        </div>

        <%= image_tag c.cover  %>
      </div>
      <div class="extra content">
        <a>
          <i class="users icon"></i>
          <%= c.users.count %> users are having fun
        </a>
      </div>
    </div>
    <% end %>
  </div>

</div>
