<div class="ui container">
  <h3><%= @user.name %></h3>
  <p><%= @user.email %></p>

  <%= link_to cl_image_tag(@user.avatar, :width=>150, :height=>150, :crop=>"crop", :gravity=>"face", :secure=>true)%>


  <h4>Chatrooms:</h4>

  <div class="ui special cards">
    <div class="card">
      <div class="new-chatroom-action-card">
        <%= link_to new_chatroom_path  do %>
          <h3><i class="add icon"></i>New Chatroom</h3>
        <% end %>
      </div>
    </div>
    <% @user.chatrooms.each do |c| %>
    <div class="card">
      <div class="overlay-card-info">
        <h2> <%= c.topic %>  </h2>
      </div>
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <% if (@current_user.present?) and (c.users.include? @current_user)  %>
              <%= link_to "Enter", chatroom_path(c), class:"ui orange button" %>
              <% else %>
              <%= link_to "Join", chatroom_path(c), class:"ui green button" %>
              <% end %>
            </div>
          </div>
        </div>

        <%= image_tag c.cover  %>
      </div>
      <div class="extra content">
        <a>
          <i class="users icon"></i>
          <%= c.users.count %> users are having fun
        </a>
      </div>
    </div>
    <% end %>
  </div>

</div>
