<!DOCTYPE html>
<html>
  <head>
    <title>Ikoka</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body>

    <nav>
      <% unless @current_user.present? %>
        <%= link_to login_path do %>
          Login
        <% end %> |
        <%= link_to new_user_path do %>
          Signup
        <% end %>
      <% else %>
        Hello, <%= link_to user_path(@current_user) do %>
          <%= @current_user.name %>
        <% end %> |
        <%= link_to login_path, :method => :delete do %>
          logout
        <% end %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
