<!DOCTYPE html>
<html>
  <head>
    <title>ikoka</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>">
      <div class="" style="height:15px"></div>

      <div class="ui container">
        <div class="ui secondary menu">
          <%= link_to "Explore Chatrooms", chatrooms_path, :method => :get, class: 'ui inverted purple button' %>

          <div class="right menu">
            <!-- right pointing dropdown -->

                <div class="ui top right dropdown icon inverted purple button">
                  <i class="sidebar icon"></i>
                  <div class="menu">

                  <% unless @current_user.present? %>
                    <div class="item">
                      <%= link_to login_path do %>
                      <i class="user icon"></i>
                      Login
                      <% end %>
                    </div>

                    <div class="item">
                      <%= link_to new_user_path do %>
                      <i class="edit icon"></i>
                      Signup
                      <% end %>
                    </div>

                  <% else %>

                    <div class="item">
                      <%= link_to user_path(@current_user) do %>
                      <%= cl_image_tag(@current_user.avatar, :width=>300, :height=>300, :crop=>"crop", :gravity=>"face", :secure=>true, class: "ui avatar image")%>
                      <%= @current_user.name %>
                      <% end %>
                    </div>

                    <div class="item">
                      <%= link_to edit_user_path(@current_user) do %>
                      <i class="edit icon"></i>
                      Edit Profile
                      <% end %>
                    </div>

                    <div class="item">
                      <%= link_to login_path, :method => :delete do %>
                      <i class="power icon"></i>
                      Logout
                      <% end %>
                    </div>

                  <% end %>
                  </div>
                </div>
          </div>
        </div>
      </div>



    <div class="" style="height:15px"></div>

    <%= yield %>


  </body>
</html>
